# dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz


# testing
/coverage

# Logs
logs
*.log


# next.js
/.next/
/out/

# production
/build

# misc
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

.next


node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Secrets
load_secrets.sh

package-lock.json
.env
marketData.db
